.table-button {
    /*Estructura*/
    position: relative;
    cursor: pointer;
    padding: 10px;
    min-width: 20px;
    min-height: 20px;
    width: 50px;
    height: 50px;
    border-width: 10px 5px;
    border-top: 5px;
    border-style: solid;
    border-radius: 5px;
    background-color: black;
    display: inline;
    /*Cinematic*/
    transition: 0.2s;
}
.table-button.function {
    border-color: rgb(55, 82, 156); 
}
.table-button.update {
    border-color: rgb(0, 184, 46);
}
.table-button.delete {
    border-color: rgb(165, 22, 22);
}
/*Animaciones del table-button*/
.table-button:hover {
    scale: 105%;
    background-color: rgb(40, 40, 40);
    filter: brightness(1.1);
}
.table-button:active {
    scale: 95%;
    filter: brightness(1.3);
}