/*aveces le mueves a algo y se cuatrapea todo, en fin la hipotenusa*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    display: flex;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../src/inverted_log1.png');
    background-size: contain;
    background-position: center; 
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1; 
}

.header {
    display: flex;
    position: fixed;
    margin-left: 270px;
    top: 0;
    right: 0;
    left: 0;
    width: calc(100% - 270px);
    height: 50px;
    background-color: #afafaf;
    color: black;
    font-family: 'Georgia', serif;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 20px;*/
    z-index: 1; 
    transition: 0.3s ease;
}

.header h1 {
    font-size: 20px;
    padding-left: 25px;
}

.header .user {
    padding: 5px 10px;
    white-space: nowrap; 
}

#welcome {
    white-space: nowrap;
    text-overflow: clip; 
    min-width: fit-content; 
}

.sidebar {
    width: 250px;
    background: black;
    color: white;
    font-family: "Georgia", serif;
    height: 100vh;
    padding: 10px;
    transition: width 0.3s ease;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;  
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar .toggle-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 10px;
}

.sidebar .toggle-btn img {
    width: 40px;  
    height: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    flex-grow: 1;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    justify-content: space-between;
}

.sidebar li:hover {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 5px; 
}

.sidebar .icon {
    order: 2; 
    margin-left: auto; 
    width: 30px; 
    text-align: center;
}

.sidebar .text {
    transition: opacity 0.3s ease;
    order: 1;
}

.sidebar.collapsed .text {
    display: none;
}

.content {
    position: relative;
    margin-top: 50px;
    margin-left: 270px;
    width: calc(100% - 270px);
    height: 100%;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-gutter: auto;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed + .header {
    margin-left: 80px;
    width: calc(100% - 80px);
}

.sidebar.collapsed + .header + .content {
    margin-left: 80px;
    width: calc(100% - 80px);
}

.allcards {
    position: relative;
    padding: 20px;
    width: calc(100%-40px);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
}

.card {
    position: relative;
    background-color: #ebebeb;
    color: #000000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.2s;
    width: 90%;
    height: auto;
    min-height: 150px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-table {
    position: relative;
    background-color: #ebebeb;
    color: #000000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.2s;
    width: 95%;
    margin: auto;
    height: auto;
    min-height: 150px;
    min-width: 250px;
    max-height: 525px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.card-table.table-gen {
    transform: translateY(-35px);
}

.card-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;  
    height: 50px;
}

.card.card-ventas, .card.card-insumos {
    grid-column: span 1;
}

.card.card-insumos, .card.card-ventas, .card.card-empleados {
    grid-row: 1;
}

.card.card-punto-venta, .card.card-pedidos {
    grid-row: 2;
}

.card.card-pedidos {
    grid-column: span 2;
}

/*Cuando no hay tarjeta de empleados*/
.allcards.no-empleados {
    grid-template-columns: repeat(2, 1fr); /* Solo 2 columnas si no hay empleados */
}

.allcards.no-empleados .card.card-insumos,
.allcards.no-empleados .card.card-ventas {
    grid-column: span 1; /* Ambas ocupan la misma cantidad de espacio */
}

.card.card-punto-venta {
    position: relative;
    width: 90%;
    height: 320px;  
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: "Georgia", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card.card-insumos h3, .card.card-ventas h3, .card.card-empleados h3 {
    margin-top: auto;
    font-family: "Georgia", serif;
    font-style: italic;
    margin-left: -150px;
    font-size: 22px;
}

.card.card-punto-venta h3 {
    font-style: italic;
    font-size: 22px;
    margin-bottom: 10px;
}

.card.card-punto-venta p {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin: 5px 0;
}

#current-time {
    font-size: 30px;
}

#current-date {
    font-size: 16px;
}

.card-punto-venta img {
    width: 50px; 
    height: auto;
    margin-bottom: 10px;
}

.card-punto-venta .whatsapp {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.card-punto-venta .whatsapp img {
    width: 30px;
    height: auto;
}

.card:hover {
    background-color: #b9b9b9;
    transform: scale(1.05);
}

.card.green {
    background-color: #4CAF50;
}

.card.green:hover {
    background-color: #45a049;
}

.table-container {
    display: block;
    border-style: none;
    max-height: 550px;
    padding-bottom: 120px;
    width: 100%;
    overflow-y: auto;
}

.card-pedidos .table-container {
    padding-bottom: 0;
}

.table-horizon-style {
    position: absolute;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 150px;
    transform: translateY(-100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0),#ebebeb);
}
/*Bajo revision*/
.table-horizon-style-2 {
    position: absolute;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 150px;
    transform: translateY(-100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0),#ebebeb);
}
.sys-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #c5c5c5;
}

.footer {
    margin-top: 20px;
}

#qr-container {
    display: flex; 
    position: fixed;  
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    background: white; 
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); 
    z-index: 1000; 
    width: 300px;
    /*Cinematic*/
    transition: 0.3s ease-in-out;
}

.img-loading {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #7a7a7a;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}

/*Inventarios*/
.no-stock::after {
    animation: blink 3s infinite;
    content: "❌ ";
}  
.low-stock::after {
    animation: blink 3s infinite;
    content: "⚠️ ";
}  
.mid-stock::after {
    animation: blink 3s infinite;
    content: "✅ ";
}  
.high-stock::after {
    animation: blink 3s infinite;
    content: "😜 ";
}  
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.no-stock{
    color: red;
    font-weight: bold;
}  
.low-stock{
    color: orange;
    font-weight: bold;
}  
.mid-stock{
    color: limegreen;
    font-weight: bold;
}  
.high-stock{
    color: blue;
    font-weight: bold;
}

/*---------------------------------------------------Jijija-------------------------------------------------*/
  @keyframes rainbow1 {
    0% { background-color: red; }
    25% { background-color: orange; }
    50% { background-color: yellow; }
    75% { background-color: green; }
    100% { background-color: red; }
}
@keyframes rainbow2 {
    0% { background-color: blue; }
    25% { background-color: indigo; }
    50% { background-color: violet; }
    75% { background-color: red; }
    100% { background-color: blue; }
}
@keyframes rainbow3 {
    0% { background-color: green; }
    25% { background-color: yellow; }
    50% { background-color: orange; }
    75% { background-color: red; }
    100% { background-color: green; }
}
.search-bar {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    width: 350px;
}
#searchButton {
    margin-left: 5px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#searchButton:hover {
    background-color: #333;
}

/* Center the card */
.card-client-pedidos {
    grid-column: span 3; /* Center the card by spanning all columns */
    background-color: #f9f9f9;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none; /* Hidden by default */
    margin: 0 auto; /* Center horizontally */
    max-width: 800px; /* Optional: Limit the width */
}

/* Style the buttons container */
.card-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Style the "Cerrar" button */
.close-button {
    padding: 10px 20px;
    background-color: #f44336; /* Red background */
    color: white;
    border: none;
    border-radius: 5px;
    transform: translateY(10px);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.close-button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.close-button:active {
    background-color: #b71c1c;
    transform: scale(0.95);
}

/* Style the "Marcar como entregado" button */
.deliver-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    transform: translateY(10px);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.deliver-button:hover {
    background-color: #388e3c; /* Darker green on hover */
    transform: scale(1.05);
}

.deliver-button:active {
    background-color: #2e7d32; /* Even darker green on click */
    transform: scale(0.95);
}